### IDE ###
**/.idea/
**/.vscode/
**/.hbuilder/
**/*.iml
**/*.iws
**/*.ipr

### 构建产物 ###
**/target/
**/build/
**/out/
**/dist/
**/unpackage/

### 前端 ###
**/node_modules/
**/.npm/
**/pnpm-lock.yaml
**/yarn.lock

### 系统文件 ###
**/.DS_Store
**/Thumbs.db

### 日志 ###
**/*.log
**/*.tmp
**/*.swp

### 敏感信息 ###
#**/application-*.yml
#**/application-*.yaml
#**/*.properties